*{padding: 0; margin: 0; box-sizing: border-box;  font-family:cursive;
}
header {
 
    width: 100%;
    min-height: 100vh;
    background-color: brown;
    background-size: cover;
    
}


.info {
    color: rgb(246, 159, 29);
    font-size: 2em;
    padding: 20px 50px;
    cursor: pointer;
    justify-content: space-between;
    display: flex;
   

}
.form-inline{
    display: flex;
    margin-top: 0.2rem;
margin-left: 0.5rem;
    
    
}

.form-inline button{
    
    background: orange;
    border-top-right-radius:20px;
    border-bottom-right-radius: 20px;
    

}
.form-inline input{
    
    background: wheat;
    border-top-left-radius:20px;
    border-bottom-left-radius: 20px;
   
    
}

   


.info span {
    color: orange;
    
}

nav .info{
    width: 100%;
    height: 70px;
    padding: 0 40px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.menu a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    margin-left: 10px;
    transition: 1s;
}
.dropdown a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    margin-left: 10px;
    transition: 1s;
}
.last a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    margin-left: 10px;
    transition: 1s;
}

.last a:last-child{
    background-color: orange;
    border-radius: 8px;
   
}

.menu a:hover{
    background-color: orange;
    border-radius: 8px; 
}
.dropdown a:hover{
    background-color: orange;
    border-radius: 8px; 
}
.last a:hover{
    background-color: orange;
    border-radius: 8px; 
}
.dropdown.dropdown-content a{
   display: flex;
}
.htext{
    position: absolute;
    font-family: sans-serif;
    top: 28%;
    left: 7%;
    max-width: 700px;
    height: 450px;
    color: white;
}

.htext h1{
    font-size: 6.5em;
}

.htext span{
    color: orange;
    margin-left: 1rem;
}

.htext strong{
    margin: 15px 0;
    line-height: 1.5em;
    font-size: larger;
}

.htext a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    letter-spacing: 2px;
    border-radius: 8px;
    transition: 1s;
}

.htext a:hover {
    background: orange;
}

.pandits{
  display: flex;
  justify-content: space-between;
  background-color: brown;
  width: 100%;
  height: 71vh;
  flex-direction: column;
  position: relative;
    border-radius: 1.5rem;
    margin-top: 1rem;
   
    
}

/* karmakanda section starts here */
.mainline h1{
    text-align: center;

    background-color: chocolate;
    color: darkgreen;
}

.people {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    margin-left: 1rem;
    text-decoration: solid;
  }
  
  .person {
    width: 150px;
    margin: 10px;
    text-align: center;
  }
  
  .person img {
    border-radius: 30%;
    width: 100%;
    height: auto;
  }
  
  .person a {
    margin: 10px 0 5px;
    font-size: 30px;
    text-decoration: none;
    color: rgb(248, 248, 248);
    padding: 10px 20px;
    font-size: 20px;
    margin-left: 10px;
    transition: 1s;
  }
  .person a :hover{
    background-color: orange;
    border-radius: 8px; 
  }
  .dropdwn {
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;

  }
  
  .dropdwn select {
    margin-left:1rem;
    
    width: 100%;
    padding: 8px;
    border: 1px solid #030303;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgb(245, 229, 229);
  }
 
  .dropdwn:hover{
    background-color: transparent;
      }

  
/* karmakanda section ends here */



footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  



  .panel {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
  }
  
  .panel-header {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .panel-options {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .panel-option {
    cursor: pointer;
    padding: 5px;
  }
  
  .hidden {
    display: none;
  }
  